// Define variables for your color scheme

// background
$black: #202020;
//buttons
$yellow: #EB9E07;
//
$light-yellow: #D4A82A;
//
$light-black: #594932;
//
$brown: #9D6B09;
//
$light-brown: #A96E28;
//
$light-gray: #CFCDCC;
//
$gray: #807E81;





