<div class="container">
  <div class="card-race-infos">
    <h1> The race is finished</h1>
    <% if run.won? %>
      <h2>You Win!!</h2>
      <h3>Congratulations</h3>
    <% else %>
      <h2>You loose :(</h2>
      <h3>You will do better next time :)</h3>
    <% end %>
    <%= link_to "See all my previous runs", root_path, class: "btn-flat" %>

  </div>
</div>
