<div class="card-race-infos">
  <div>
    <% if race.runs.find_by(user: current_user).won? %>
      <h1>Congratulations</h1>
      <h2>You Won!!</h2>
    <% else %>
     <h1>You loose</h1>
      <h2>You will do better next time</h2>
    <% end %>
  </div>
  <div class="mt-4">
    <%= link_to "See all my runs", runs_path, class: "btn-flat" %>
  </div>
</div>

