<div class="card-race-infos race-started">
  <div>
    <h1>The race is now in progress !</h1>
  </div>
  <div class="mt-4">
<<<<<<< HEAD
<<<<<<< HEAD
    <%= link_to "Race finished!", race_path(race, finished: true), method: :patch, remote: true, class: "btn-flat" %>
=======
    <%#= simple_form_for @race do |f| %>
        <%#= f.button :submit, id: "race-finished" %>
      <%# end %>
    <%= link_to "Race finished!", race_path(@race, finished: true), method: :patch, remote: true, class: "btn-flat" %>
>>>>>>> d68c0b871724ff35ff4653288b122b27e800cf86
=======
    <%= link_to "Race finished!", race_path(race, finished: true), method: :patch, remote: true, class: "btn-flat" %>
    <%#= simple_form_for @race do |f| %>
        <%#= f.button :submit, id: "race-finished" %>
     <%# end %>
>>>>>>> 98de11134dd4a001f894cda9a2f51e47f0402586
  </div>
</div>

