<div class="container">
  <div class="card-race-infos race-started">
    <h1>The race is now in progress !</h1>
    <%= link_to "Race finished! (temporary)", race_path(@race), method: :patch, class: "btn-flat"%>
  </div>
</div>
