<div class="card-race-infos race-started text-center">
  <div class="mt-4">
    <%= link_to "See the result!", race_path(race, finished: true), method: :patch, remote: true, class: "btn-flat" %>
  </div>
</div>

