<div class="card-race-infos race-started">
  <div>
    <h1>The race is now in progress !</h1>
  </div>
  <div class="mt-4">
    <%= link_to "Race finished! (temporary)", race_path(@race), method: :patch, class: "btn-flat"%>
  </div>
</div>

