<div class="card-race-infos race-started">
  <div>
    <h1>The race is now in progress !</h1>
  </div>
  <div class="mt-4">
    <%= link_to "Race finished!", race_path(@race, finished: true), method: :patch, remote: true, class: "btn-flat" %>
  </div>
</div>

