.btn-flat {
  color: $black;
  font-weight: bolder;
  padding: 8px 24px;
  border-radius: 4px;
  background: $yellow;
  text-decoration: none !important;

}

.btn-flat:hover {
  text-decoration: none !important;
  color: $black;
}

.btn-home {
  padding : 17px 64px;
  font-size: 28px;
  border-radius: 30px;
  letter-spacing: 2px;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
}


.btn-sign {
  font-size: 24px;
  padding: 20px;
  border-radius: 50px;
  text-decoration: none !important;
}


.btn_sign_left {
  margin-left: 50px;
  text-decoration: none !important;
}

#btn-launch-race {
  visibility: hidden;
  text-decoration: none !important;
}

.btn.btn-primary.btn-lg {
  outline: none !important;
  border: none !important;
  text-decoration: none !important;
}

.buttons-home {
  position: absolute;
  bottom: 40px;
}
