.btn-flat {
  color: $black;
  font-weight: bolder;
  padding: 8px 24px;
  border-radius: 4px;
  background: $yellow;
}

.btn-home {
  padding : 17px 64px;
  font-size: 28px;
  border-radius: 30px;
  letter-spacing: 2px;
  text-decoration: none;
}


.btn-sign {
  font-size: 24px;
  padding: 20px;
  border-radius: 50px;
  text-decoration: none;
}


.btn_sign_left {
  margin-left: 50px;
}

#btn-launch-race {
  visibility: hidden;
}
