.card-challenge {
  background-color: $light-black;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  padding: 10px;
  margin-bottom: 5px;
}

.card-c-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-c-infos h1 {
  font-size: 24px;
}

.card-c-bet {
  background: $light-brown;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  text-align: center;
}

.card-c-bet h2 {
  line-height: 90px;
  font-size: 24px;
  color: $light-black;
}

.card-c-bet.lost {
  background: $light-black;
  border: 1px solid $light-brown;
  color: $light-brown;
}

.card-c-bet.lost h2 {
  line-height: 90px;
  font-size: 24px;
  color: $light-brown;
}


.card-challenge button {
  width: 100%;
  margin: 20px 0;
}

.c-map-bet {
  height: 500px;
  width: 100%;
}

.c-map {
  background-color: blue;
  height: 460px;
  width: 100%;
}

.btn-bet {
  text-align: center;
}
