.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 72px;
  border-radius: 50%;
}

.navbar-light .navbar-toggler {
  border-color: $yellow;
  background-color: $yellow;
}

.nav-wallet {
  font-weight: bold;
  margin: 0;
  font-size: medium;
  margin-left: 124px;
}

.nav-item a {
  color: $yellow;
}
