.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-toggler {
  border-color: $yellow;
  background-color: $yellow;
}

.nav-wallet {
  font-weight: bold;
  margin: 0;
}
