.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 69px;
  border-radius: 50%;
  border: 3px solid #FDF851;

}

.navbar-light .navbar-toggler {
  border-color: $yellow;
  background-color: $yellow;
}

.nav-wallet {
  font-weight: normal;
  margin: 0;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 10px;
}

.nav-item a {
  color: $yellow;
}

#burger-menu {
  background-color: $yellow;
  text-decoration: none;
}

.btn-primary:hover {
  border-color: $yellow;
}

.btn-primary {
  border-color: $yellow;
}

.fa-bars:before {
  content: "\f0c9";
  color: $black;
}

#bet {
  font-size: 20px;
  letter-spacing: 2px;
}

#logo1 {
  max-width: 155px;
  max-height: 90px;
}
